		<div class="w3-row">
			<div class="w3-twothird w3-container">
				<h1 class="w3-text-teal">Overview</h1>
				<p>This section describes how to manage teams, users, and roles.</p>
				<p>A System Administrator is a user who has administrative privileges 
					in to perform tasks such as creating users, modify users etc. The System 
					Administrator can access all modules and records. </p>
			</div>
			<div class="w3-third w3-container">
				<p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
				<p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
			</div>
		</div>

		<div class="w3-row w3-padding-64">
			<div class="w3-twothird w3-container">
				<h1 class="w3-text-teal">To create a regular user</h1>
				
				<ul class="w3-ul w3-card-4" style="width:50%">
				  <li><p>Click Add User in the Menu panel of the Home page.</p></li>
				  <li><p>Fill the valid user data</p></li>
				  <li><p>Click on add user.</P></li>
				</ul>
			</div>
			<div class="w3-third w3-container">
				<p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
				<p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
			</div>
		</div> 
